body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 50px;
}

#hangman-container {
    margin-bottom: 20px;
}

#word-display {
    font-size: 24px;
    margin-bottom: 10px;
}

#guess-input {
    margin-bottom: 20px;
}

#guessed-letters {
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: bold;
}
